TESTING= # Should be unset if not testing

AUDIO_DEVICE=plughw:0,0
CHECK_INTERVAL=1.0

TEAM_ID_11=
FACTORY_ID_11=
STATION_ID_11=
SOUND_11=

TEAM_ID_12=
FACTORY_ID_12=
STATION_ID_12=
SOUND_12=

TEAM_ID_TESTING =
FACTORY_ID_TESTING=
STATION_ID_TESTING=
SOUND_TESTING=

HOST=
DATABASE=
DB_USER=
PASSWORD=


RABBIT_USER=
RABBIT_PS=
RABBIT_HOST=
RABBIT_PORT=

# For testing only
S3_IMAGE=